#currentProduct {
	margin-bottom: 150px;
	min-height: 400px;
	clear: both;
	/*above styling is to make sure footer doesn't sit on top of page content*/
	/*could probably make it nicer, this is a quick fix*/
	
	.mainPhoto {
		display: inline-block;
		width: 50%
	}

	info {
		display: inline-block;
	}
}
